$day: #fff;
$sun: #ffea00;
$night: #000;

html {
  font-size: 16px;

  @media all and (max-width: 768px) {
    font-size: 14px;
  }

  @media all and (max-width: 425px) {
    font-size: 10px;
  }
}

body {
  background: url('../images/bg.jpg') fixed no-repeat;
  background-size: cover;
}

.j-app {
  background: rgba($night, 0.5);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .logo {
    position: fixed;
    top: 10px;
    right: 10px;

    img {
      width: 150px;
      height: 150px;

      @media all and (max-width: 768px) {
        width: 75px;
        height: 75px;
      }
    }
  }

  .links {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: $day;
      margin-right: 10px;
      font-size: 1.5rem;
      transition: color 0.3s ease;

      @media all and (max-width: 768px) {
        font-size: 3rem;
      }

      &:hover {
        color: $sun;
      }

    }
  }
}

.wrapper {
  width: 28rem;
  height: 28rem;
  border: 0.25rem solid $day;
  border-radius: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;

  .hint {
    position: absolute;
    top: -40px;
    font-size: 1.125rem;
    left: 50%;
    color: #fff;
    white-space: nowrap;
    font-weight: 200;
    text-transform: uppercase;

    @media all and (max-width: 768px) {
      left: 0;
    }
  }

  &:after {
    position: absolute;
    top: -0.3rem;
    left: -0.25rem;
    width: 102%;
    content: '';
    display: block;
    height: 102%;
    transform: rotateZ(5.3deg);
    transform-origin: top left;
    border: 0.25rem solid $sun;
    border-radius: 1rem;

    @media all and (max-width: 768px) {
      transform: rotateZ(3.3deg);
    }
  }

  .j-header {
    padding: 1rem;
    font-size: 1.125rem;
    font-weight: 200;
    color: $day;
    text-transform: uppercase;
    border-bottom: 0.25rem solid $day;
  }

  .j-content {
    height: 100%;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-end;

    div {
      font-weight: 600;
      color: $day;
      margin-bottom: 0.625rem;
      font-size: 2.875rem;
      line-height: 2.875rem;
      text-transform: uppercase;
    }

    .title {
      color: $sun;
    }
  }
}
