doctype(html)
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title Joy in Travel
    link(rel='stylesheet' href='./assets/css/depStyles.css')
    link(rel='stylesheet' href='./assets/css/styles.css')
  body
    .j-app
      .logo
        img(src="./assets/images/logo.png")
      .links
        a(href="https://www.instagram.com/joyintravel" target="_blank")
          span.fa.fa-instagram
        a(href="https://www.facebook.com/joyintravelua" target="_blank")
          span.fa.fa-facebook-square
        a(href="https://vk.com/joyintravel" target="_blank")
          span.fa.fa-vk
      .wrapper
        .hint * Сайт находится в разработке
        .j-header
          div От студентов
          div Для студентов
        .j-content
          div.title JOY IN TRAVEL
          div Ассоциация
          div молодежного
          div туризма


  script(src='./assets/js/scripts.js')
  script(src='./assets/js/app.js')
